{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
		{% block title %}
		Untiled Document
		{% endblock title %}
	</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}"><link>
</head>
<body>
<div id="wrapper">
<header id="header">
	<div id="logo"><img src="{% static 'logo.jpg' %}"  alt=""></div>
	<div id="topbanner"><img src="{% static 'estc.jpg' %}" width="800" height="200" alt=""></div>
</header>
<aside id="leftsidebar">
	<nav id="nav">
	<ul>
	{% block sidenav %}	
		<li>Menu 1</li>
		<li>Menu 2</li>
		<li>Menu 3</li>
	{% endblock sidenav %}	
	<li><a href="/contact">Contact Us</a></li>
	</ul>
	</nav>
</aside>
<section id="main">
	{% block content %}
	<h1>Welcome!</h1>
	<p>This is the site template</p>
	{% endblock content %}
</section>
<footer id="footer" >Copyright &copy; 2019 LPGLAASRI WebDesign</footer>
</div>
</body>
</html>